# ------------------------------------------------------------------------------
# Example inventory.yml
# ------------------------------------------------------------------------------
all:
  children:
    opengear:
      hosts:
        my-device:
          ansible_host: 192.168.1.1
      vars:
        ansible_connection: httpapi
        ansible_network_os: opengear.ng.http_api
        ansible_httpapi_use_ssl: true
        ansible_httpapi_validate_certs: false
        ansible_user: root
        ansible_password: default
